@tailwind base;
@tailwind components;
@tailwind utilities;
/* typing.css */
.typing {
  display: flex;
  gap: 6px;
  align-items: center;
}

.typing span {
  width: 7px;
  height: 7px;
  margin-left: 2px;
  background: #858484;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.typing span:nth-child(1) {
  animation-delay: 0s;
}
.typing span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media screen and (min-width: 1660px) {
 .typing span {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}
}

/* Custom Scrollbar for the Sidebar */
.sidebar-scroll::-webkit-scrollbar {
  width: 5px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Glass effect for the search dropdown */
.search-results-glass {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
}

/* Smooth transition for list items */
.user-item-transition {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Add this in your CSS file or global styles */
/* .hide-scrollbar::-webkit-scrollbar { */
  /* display: none;  */
/* } */
/* .hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
} */

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 8px;          /* width of vertical scrollbar */
  height: 8px;         /* height of horizontal scrollbar */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;  /* light gray track */
  border-radius: 4px;   /* rounded corners */
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #948CEE; /* your main color */
  border-radius: 4px;
  border: 2px solid #f1f1f1; /* optional padding around thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4633A6; /* darker on hover */
}

.emoji-picker {
  --epr-emoji-size: 20px;
  --epr-category-label-height: 36px;
  --epr-header-padding: 10px;
  --epr-search-height: 36px;

 --epr-picker-width: 300px !important;
  --epr-picker-height: 300px !important;
}
